*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    display: flex;
    width: 100%;
    padding: 60px;
    background: #D8DFE8;
    height: 100vh;

    gap: clamp(25px, 5vw, 4.6rem);
    justify-content: space-between;
    flex: 1 1 auto;
    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.seccion-izq{
    width: 60%;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-area{
    width: 100%;
    border: none;
    color: #0A3871;
    padding: 60px 0 0 40px;
    background: #D8DFE8;   

    outline: none;
    resize: none;
    flex: 1 1 auto;

}

.text-area::placeholder{
    color: #0A3871;
}

.text-area:focus{
    outline: none;
}

.mensaje{
    display: flex;
    gap: 5px;
    align-items: center;
    user-select: none;
}

.informacion{
    color: #495057;
    font-size: 18px;
}

.botones{
    display: flex;
    padding: 10px 0;
    user-select: none;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 20px;
    width: 328px;
}

.seccion-der{
    min-width: 400px;
    width: 400px;
    background: white;
    border: none;
    border-radius: 24px;
    padding: 20px;
    word-break: break-word;
    color: #0A3871;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-der:focus{
    outline: none;
}

.centro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.msj{
    text-align: center;
    display: inline;
}

.msj h3{
    color: rgb(34, 32, 32);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 30px;
    margin-top: 10px;
}

.msj p{
    margin: 10px 0 ;
    color: #495057;
    font-size: 1.1rem;
    padding: 0 45px;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 200px;
    display: none;
}

.copiar:hover {
    transition: all 500ms ease;
    background-color: #0A3871;
    color: white;
}


.footer-contenedor{
    width: 100%;
    height: 5%;
    text-align: center;        
    position: absolute; bottom: 0;
    color: black;
    font-size: 20px;
    padding: 10px 0;
}
